@charset "UTF-8";
/*-------------------------
  初期値
-------------------------*/
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  color: #333;
  font-size: 1.6rem;
}
table {
  table-layout: fixed;
  width: 1200px;
  text-align: center;
  border-collapse: collapse;
}

.search,
.addUser,
.userList {
  padding: 20px;
}

/* 検索領域 */
.search select {
  width: 100px;
  height: 30px;
  margin-right: 10px;
}
.search input {
  margin-right: 10px;
}
.errorMsg {
  color: red;
  margin-left: 20px;
}

/* ユーザー追加領域 */
.addUser table tr:first-of-type {
  background-color: #d2def8;
}
.addUser table tr:first-of-type small {
  color: #777;
}


/* リスト領域 */
.userList table tr:first-of-type {
  color: #fff;
  background-color: #518ed0;
}
.userList table tr:first-of-type:hover {
  cursor: pointer;
}
.userList tr:nth-of-type(odd) {
  background-color: #f2f7fb;
}
th,
td {
  border: 1px solid #ccc;
  padding: 10px 20px;
}
/* 昇順のマーク */
.asc::after {
  content: "▲";
}
/* 降順のマーク */
.desc::after {
  content: "▼";
}
